<a href="https://colab.research.google.com/github/balaorcl/mlbasics/blob/main/s2c1_pandas_numpy_fundas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas and NumPy Fundamentals

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Introduction to Numpy

In [5]:
import numpy as np

In [6]:
data_ndarray = np.array([5, 10, 15, 20])
data_ndarray

array([ 5, 10, 15, 20])

## Boolean Indexing with Numpy

In [7]:
import numpy as np

In [8]:
taxi = np.genfromtxt("drive/My Drive/data/nyc_taxis.csv", delimiter=",")
taxi_shape = taxi.shape
taxi_shape

(89561, 15)

In [9]:
import csv

# impoer nyc_taxis.csv as a list of lists
f = open("drive/My Drive/data/nyc_taxis.csv", "r")
taxi_list = list(csv.reader(f))

## Introduction to Pandas

## Exploring Data with Pandas: Fundamentals

## Exploring Data with Pandas: Intermediate

In [10]:
import pandas as pd
# Create DataFrame
f500 = pd.read_csv("drive/My Drive/data/f500.csv", index_col=0)
f500.index.name = None
f500

                                rank  ...  total_stockholder_equity
Walmart                            1  ...                     77798
State Grid                         2  ...                    209456
Sinopec Group                      3  ...                    106523
China National Petroleum           4  ...                    301893
Toyota Motor                       5  ...                    157210
...                              ...  ...                       ...
Teva Pharmaceutical Industries   496  ...                     33337
New China Life Insurance         497  ...                      8507
Wm. Morrison Supermarkets        498  ...                      5111
TUI                              499  ...                      3006
AutoNation                       500  ...                      2310

[500 rows x 16 columns]

In [11]:
f500_dict = {"company" : "Name of the company",
             "rank": "Global 500 rank for the company",
             "revenues": "Company's total revenue for the fiscal year, in millions of USD",
             "revenue_change": "Percentage change in revenue between the current and prior fiscal year",
             "profits": "Net income for the fiscal year, in millions of dollars(USD)",
             "sector": "sector in which the company operates",
             "previous_rank": "Global 500 rank for the company for the prior year",
             "country": "Country in which the company is headquartered",
             "hq_location": "City and country, (or city and state for the USA) where the company is headquartered",
             "employees": "Total employees (full-time equivalent, if available) at fiscal year-end"
             }
f500_dict

{'company': 'Name of the company',
 'country': 'Country in which the company is headquartered',
 'employees': 'Total employees (full-time equivalent, if available) at fiscal year-end',
 'hq_location': 'City and country, (or city and state for the USA) where the company is headquartered',
 'previous_rank': 'Global 500 rank for the company for the prior year',
 'profits': 'Net income for the fiscal year, in millions of dollars(USD)',
 'rank': 'Global 500 rank for the company',
 'revenue_change': 'Percentage change in revenue between the current and prior fiscal year',
 'revenues': "Company's total revenue for the fiscal year, in millions of USD",
 'sector': 'sector in which the company operates'}

In [12]:
f500_selection=f500[["rank", "revenues", "revenue_change"]].head()
f500_selection

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

### 2. Reading CSV files with pandas

In [13]:
# Without index_col = 0
f500 = pd.read_csv("drive/My Drive/data/f500.csv")
f500

                            company  rank  ...  employees  total_stockholder_equity
0                           Walmart     1  ...    2300000                     77798
1                        State Grid     2  ...     926067                    209456
2                     Sinopec Group     3  ...     713288                    106523
3          China National Petroleum     4  ...    1512048                    301893
4                      Toyota Motor     5  ...     364445                    157210
..                              ...   ...  ...        ...                       ...
495  Teva Pharmaceutical Industries   496  ...      56960                     33337
496        New China Life Insurance   497  ...      54378                      8507
497       Wm. Morrison Supermarkets   498  ...      77210                      5111
498                             TUI   499  ...      66779                      3006
499                      AutoNation   500  ...      26000                      2310

[500 rows x 17 columns]

In [14]:
# selects all columns where previous rank = 0
f500.loc[f500["previous_rank"] == 0].head()

                    company  rank  ...  employees  total_stockholder_equity
48    Legal & General Group    49  ...       8939                      8579
90                   Uniper    91  ...      12890                     12889
123       Dell Technologies   124  ...     138000                     13243
138  Anbang Insurance Group   139  ...      40707                     20372
140         Albertsons Cos.   141  ...     273000                      1371

[5 rows x 17 columns]

In [15]:
# Select 2 columns where previous_rank = 0
f500.loc[f500["previous_rank"] == 0, ["previous_rank", "assets"]].head()

     previous_rank  assets
48               0  577954
90               0   51541
123              0  118206
138              0  430040
140              0   23755

In [16]:
# Select only previous_rank column where previous_rank = 0
f500.loc[f500["previous_rank"] == 0, "previous_rank"].head()

48     0
90     0
123    0
138    0
140    0
Name: previous_rank, dtype: int64

In [17]:
# Assign np.nan where previous_rank column = 0
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
f500

                            company  rank  ...  employees  total_stockholder_equity
0                           Walmart     1  ...    2300000                     77798
1                        State Grid     2  ...     926067                    209456
2                     Sinopec Group     3  ...     713288                    106523
3          China National Petroleum     4  ...    1512048                    301893
4                      Toyota Motor     5  ...     364445                    157210
..                              ...   ...  ...        ...                       ...
495  Teva Pharmaceutical Industries   496  ...      56960                     33337
496        New China Life Insurance   497  ...      54378                      8507
497       Wm. Morrison Supermarkets   498  ...      77210                      5111
498                             TUI   499  ...      66779                      3006
499                      AutoNation   500  ...      26000                      2310

[500 rows x 17 columns]

### 3. Using iloc to select by integer position

In [18]:
print(f500[["company", "rank", "revenues"]].head())

                    company  rank  revenues
0                   Walmart     1    485873
1                State Grid     2    315199
2             Sinopec Group     3    267518
3  China National Petroleum     4    262573
4              Toyota Motor     5    254694

In [19]:
# select 5th row from dataframe and assign it to fifth_row
fifth_row = f500.iloc[4]
fifth_row, type(fifth_row)

(company                                     Toyota Motor
 rank                                                   5
 revenues                                          254694
 revenue_change                                       7.7
 profits                                          16899.3
 assets                                            437575
 profit_change                                      -12.3
 ceo                                          Akio Toyoda
 industry                        Motor Vehicles and Parts
 sector                            Motor Vehicles & Parts
 previous_rank                                          8
 country                                            Japan
 hq_location                                Toyota, Japan
 website                     http://www.toyota-global.com
 years_on_global_500_list                              23
 employees                                         364445
 total_stockholder_equity                          157210
 Name: 4, dtype: object, pandas.core.series.Series)

In [20]:
# select the value in te first row of the company column
company_value = f500.iloc[0,0]
company_value

'Walmart'

### 4. Using iloc

In [21]:
# select only first column
first_column = f500.iloc[:,0]
first_column

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: company, Length: 500, dtype: object

In [22]:
# select all rows from index 1 to 4 inclusive
second_to_sixth_rows = f500[1:5]
second_to_sixth_rows

                    company  rank  ...  employees  total_stockholder_equity
1                State Grid     2  ...     926067                    209456
2             Sinopec Group     3  ...     713288                    106523
3  China National Petroleum     4  ...    1512048                    301893
4              Toyota Motor     5  ...     364445                    157210

[4 rows x 17 columns]

In [23]:
first_three_rows = f500.iloc[:3,:]
first_three_rows

         company  rank  ...  employees  total_stockholder_equity
0        Walmart     1  ...    2300000                     77798
1     State Grid     2  ...     926067                    209456
2  Sinopec Group     3  ...     713288                    106523

[3 rows x 17 columns]

In [24]:
first_seventh_row_slice = f500.iloc[[0,6],0:5]
first_seventh_row_slice

             company  rank  revenues  revenue_change  profits
0            Walmart     1    485873             0.8  13643.0
6  Royal Dutch Shell     7    240033           -11.8   4575.0

### 5. Using pandas methods to create boolean masks

In [25]:
# Series is null
rev_is_null = f500["revenue_change"].isnull()
rev_is_null.head()

0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool

In [26]:
rev_change_null = f500[rev_is_null]
rev_change_null[["company", "country", "sector"]]

                        company  country      sector
90                       Uniper  Germany      Energy
180  Hewlett Packard Enterprise      USA  Technology

In [27]:
# Find Previous_rank_null_companies
previous_rank_null = f500[f500["previous_rank"].isnull()]
null_previous_rank = previous_rank_null[["company", "rank", "previous_rank"]]
null_previous_rank

                                   company  rank  previous_rank
48                   Legal & General Group    49            NaN
90                                  Uniper    91            NaN
123                      Dell Technologies   124            NaN
138                 Anbang Insurance Group   139            NaN
140                        Albertsons Cos.   141            NaN
180             Hewlett Packard Enterprise   181            NaN
267                           Hengli Group   268            NaN
271         Johnson Controls International   272            NaN
341                                  Chubb   342            NaN
375                 Charter Communications   376            NaN
376                              Medtronic   377            NaN
392                               Facebook   393            NaN
409                            Kraft Heinz   410            NaN
414                                  Nokia   415            NaN
431                          Standard Life   432            NaN
440            Brookfield Asset Management   441            NaN
441        Mercantil Servicios Financieros   442            NaN
446                            Samsung C&T   447            NaN
456                        Heraeus Holding   457            NaN
458                Yango Financial Holding   459            NaN
461                  Alibaba Group Holding   462            NaN
463                            Progressive   464            NaN
466                Country Garden Holdings   467            NaN
472                                 Altice   473            NaN
477                       Tencent Holdings   478            NaN
482                                  Aflac   483            NaN
484                  Suning Commerce Group   485            NaN
487                             Xiamen C&D   488            NaN
491                         Dollar General   492            NaN
493               Xiamen ITG Holding Group   494            NaN
494  Xinjiang Guanghui Industry Investment   495            NaN
495         Teva Pharmaceutical Industries   496            NaN
499                             AutoNation   500            NaN

### 6. Working with Integer Labels

In [28]:
# select the first null previous rank
first_null_previous_rank = null_previous_rank.iloc[0]
first_null_previous_rank

company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object

In [29]:
# Errors out when loc using index
# first_null_previous_rank = null_previous_rank.loc[0]
first_null_previous_rank = null_previous_rank.loc[48]
first_null_previous_rank

company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object

In [30]:
# Get top 5 null previous rank
top5_null_prev_rank = null_previous_rank.iloc[0:5,:]
top5_null_prev_rank

                    company  rank  previous_rank
48    Legal & General Group    49            NaN
90                   Uniper    91            NaN
123       Dell Technologies   124            NaN
138  Anbang Insurance Group   139            NaN
140         Albertsons Cos.   141            NaN

In [31]:
# Get top 5 null previous rank
top5_null_prev_rank = null_previous_rank.loc[48:140,:]
top5_null_prev_rank

                    company  rank  previous_rank
48    Legal & General Group    49            NaN
90                   Uniper    91            NaN
123       Dell Technologies   124            NaN
138  Anbang Insurance Group   139            NaN
140         Albertsons Cos.   141            NaN

In [32]:
### 7. Pandas Index Alignment
# Let's use the Series.notnull()
previously_ranked = f500[f500["previous_rank"].notnull()]
previously_ranked

                       company  rank  ...  employees  total_stockholder_equity
0                      Walmart     1  ...    2300000                     77798
1                   State Grid     2  ...     926067                    209456
2                Sinopec Group     3  ...     713288                    106523
3     China National Petroleum     4  ...    1512048                    301893
4                 Toyota Motor     5  ...     364445                    157210
..                         ...   ...  ...        ...                       ...
490              National Grid   491  ...      22132                     25463
492             Telecom Italia   493  ...      61227                     22366
496   New China Life Insurance   497  ...      54378                      8507
497  Wm. Morrison Supermarkets   498  ...      77210                      5111
498                        TUI   499  ...      66779                      3006

[467 rows x 17 columns]

In [33]:
# create rank_change column
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
rank_change.shape

(467,)

In [34]:
rank_change.tail()

490   -20.0
492   -89.0
496   -70.0
497   -61.0
498   -32.0
dtype: float64

In [35]:
f500.shape, f500.tail()

((500, 17),
                             company  rank  ...  employees  total_stockholder_equity
 495  Teva Pharmaceutical Industries   496  ...      56960                     33337
 496        New China Life Insurance   497  ...      54378                      8507
 497       Wm. Morrison Supermarkets   498  ...      77210                      5111
 498                             TUI   499  ...      66779                      3006
 499                      AutoNation   500  ...      26000                      2310

 [5 rows x 17 columns])

In [36]:
# rank_change column has 467 rows, f500 dataframe has 500 rows
# when rank_change column assigned as a new column to f500, pandas will align based on index labels
f500["rank_change"] = rank_change
f500["rank_change"].value_counts(dropna=False)
# we can see not aligned label data as null

 NaN     33
-1.0     14
-4.0     13
-2.0     12
 8.0     12
         ..
-54.0     1
 55.0     1
 69.0     1
 21.0     1
-32.0     1
Name: rank_change, Length: 153, dtype: int64

### 8. Using Boolean Operators

In [37]:
cols = ["company", "revenues", "country"]
f500_sel = f500[cols].head()
f500_sel

                    company  revenues country
0                   Walmart    485873     USA
1                State Grid    315199   China
2             Sinopec Group    267518   China
3  China National Petroleum    262573   China
4              Toyota Motor    254694   Japan

In [38]:
# more than 265 billion
over_265 = f500_sel["revenues"] > 26500
over_265

0    True
1    True
2    True
3    True
4    True
Name: revenues, dtype: bool

In [39]:
china = f500_sel["country"] == "China"
china

0    False
1     True
2     True
3     True
4    False
Name: country, dtype: bool

In [40]:
combined = over_265 & china
combined

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [41]:
final_cols = ["company", "revenues"]
result = f500_sel.loc[combined, final_cols]
result

                    company  revenues
1                State Grid    315199
2             Sinopec Group    267518
3  China National Petroleum    262573

In [42]:
# Check revenues greater than 100 billion
large_revenue = f500["revenues"] > 100000
large_revenue

0       True
1       True
2       True
3       True
4       True
       ...
495    False
496    False
497    False
498    False
499    False
Name: revenues, Length: 500, dtype: bool

In [43]:
negative_profits = f500["profits"] < 0
negative_profits

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: profits, Length: 500, dtype: bool

In [44]:
combined = large_revenue & negative_profits
combined

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [45]:
big_rev_neg_profit = f500[combined]
big_rev_neg_profit

                company  rank  ...  total_stockholder_equity  rank_change
32  Japan Post Holdings    33  ...                     91532          4.0
44              Chevron    45  ...                    145556        -14.0

[2 rows x 18 columns]

### 9. Using Boolean Operations

In [46]:
combined = (f500["revenues"] > 100000) & (f500["profits"] < 0)
big_rev_neg_profit = f500[combined]
big_rev_neg_profit

                company  rank  ...  total_stockholder_equity  rank_change
32  Japan Post Holdings    33  ...                     91532          4.0
44              Chevron    45  ...                    145556        -14.0

[2 rows x 18 columns]

In [47]:
f500['country'].value_counts()

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
Australia         7
Brazil            7
India             7
Italy             7
Taiwan            6
Russia            4
Ireland           4
Singapore         3
Sweden            3
Mexico            2
U.A.E             1
Israel            1
Saudi Arabia      1
Denmark           1
Indonesia         1
Luxembourg        1
Malaysia          1
Norway            1
Turkey            1
Venezuela         1
Finland           1
Belgium           1
Thailand          1
Name: country, dtype: int64

In [48]:
brazil_venezuela = f500[((f500["country"] == "Brazil") | (f500["country"] == "Venezuela"))]
brazil_venezuela

                             company  ...  rank_change
74                         Petrobras  ...        -17.0
112            Itau Unibanco Holding  ...         46.0
150                  Banco do Brasil  ...        -36.0
153                   Banco Bradesco  ...         55.0
190                              JBS  ...         -6.0
369                             Vale  ...         47.0
441  Mercantil Servicios Financieros  ...          NaN
486                Ultrapar Holdings  ...        -13.0

[8 rows x 18 columns]

In [49]:
~(f500['country'] == "USA") & (f500['sector'] == "Technology")

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [50]:
f500[~(f500['country'] == "USA")]["sector"].value_counts()

Financials                       91
Energy                           67
Motor Vehicles & Parts           32
Technology                       30
Wholesalers                      20
Materials                        16
Food & Drug Stores               15
Telecommunications               14
Transportation                   13
Engineering & Construction       13
Health Care                      12
Industrials                      11
Aerospace & Defense               8
Food, Beverages & Tobacco         7
Retailing                         6
Chemicals                         5
Business Services                 3
Household Products                2
Hotels, Restaurants & Leisure     2
Apparel                           1
Name: sector, dtype: int64

In [51]:
tech_outside_usa = f500[~(f500['country'] == "USA") & (f500['sector'] == "Technology")].head()
tech_outside_usa

                         company  rank  ...  total_stockholder_equity  rank_change
14           Samsung Electronics    15  ...                    154376         -2.0
26    Hon Hai Precision Industry    27  ...                     33476         -2.0
70                       Hitachi    71  ...                     26632          8.0
82   Huawei Investment & Holding    83  ...                     20159         46.0
104                         Sony   105  ...                     22415          8.0

[5 rows x 18 columns]

### 10. Sorting Values

In [52]:
# select all rows where country is china
selected_rows = f500[f500["country"] == "China"]
selected_rows

                                   company  ...  rank_change
1                               State Grid  ...          0.0
2                            Sinopec Group  ...          1.0
3                 China National Petroleum  ...         -1.0
21   Industrial & Commercial Bank of China  ...         -7.0
23    China State Construction Engineering  ...          3.0
..                                     ...  ...          ...
487                             Xiamen C&D  ...          NaN
489               China General Technology  ...       -107.0
493               Xiamen ITG Holding Group  ...          NaN
494  Xinjiang Guanghui Industry Investment  ...          NaN
496               New China Life Insurance  ...        -70.0

[109 rows x 18 columns]

In [53]:
# Use DataFrame.sort_values() method to sort the rows
sorted_rows = selected_rows.sort_values("employees")
print(sorted_rows[["company", "country", "employees"]].head())

                                company country  employees
204                         Noble Group   China       1000
458             Yango Financial Holding   China      10234
438  China National Aviation Fuel Group   China      11739
128                         Tewoo Group   China      17353
182            Amer International Group   China      17852

In [54]:
# Use DataFrame.sort_values() method to sort the rows, for descending
sorted_rows = selected_rows.sort_values("employees", ascending=False)
print(sorted_rows[["company", "country", "employees"]].head())

                        company country  employees
3      China National Petroleum   China    1512048
118            China Post Group   China     941211
1                    State Grid   China     926067
2                 Sinopec Group   China     713288
37   Agricultural Bank of China   China     501368

In [55]:
japan = f500[f500["country"] == 'Japan']
sorted_japan = japan.sort_values("employees", ascending=False)
# select 1st row of the sorted frame using iloc
japan_first_row = sorted_japan.iloc[0]
japan_first_row

company                                     Toyota Motor
rank                                                   5
revenues                                          254694
revenue_change                                       7.7
profits                                          16899.3
assets                                            437575
profit_change                                      -12.3
ceo                                          Akio Toyoda
industry                        Motor Vehicles and Parts
sector                            Motor Vehicles & Parts
previous_rank                                          8
country                                            Japan
hq_location                                Toyota, Japan
website                     http://www.toyota-global.com
years_on_global_500_list                              23
employees                                         364445
total_stockholder_equity                          157210
rank_change                                            3
Name: 4, dtype: object

In [56]:
top_japanese_employer = japan_first_row["company"]
top_japanese_employer

'Toyota Motor'

### 11. Using Loops with pandas

In [57]:
# To find the average revenue in each country
# Identify each unique country in dataset
# For each country
    # select rows of that country
    # calculate average revenue of those rows
# Create empty dictionary to store the results
avg_rev_by_country = {}

# Create an array of unique countries
countries = f500["country"].unique()

# Use for loop to iterate over the countries
for c in countries:
  # Use boolean to select all the rows of each country
  selected_rows = f500[f500["country"] == c]
  # Calculate mean average 
  mean = selected_rows["revenues"].mean()
  # Assign the mean value to avg_rev_by_country
  avg_rev_by_country[c] = mean

avg_rev_by_country

{'Australia': 33688.71428571428,
 'Belgium': 45905.0,
 'Brazil': 52024.57142857143,
 'Britain': 51588.708333333336,
 'Canada': 31848.0,
 'China': 55397.880733944956,
 'Denmark': 35464.0,
 'Finland': 26113.0,
 'France': 55231.793103448275,
 'Germany': 63915.0,
 'India': 39993.0,
 'Indonesia': 36487.0,
 'Ireland': 32819.5,
 'Israel': 21903.0,
 'Italy': 51899.57142857143,
 'Japan': 53164.03921568627,
 'Luxembourg': 56791.0,
 'Malaysia': 49479.0,
 'Mexico': 54987.5,
 'Netherlands': 61708.92857142857,
 'Norway': 45873.0,
 'Russia': 65247.75,
 'Saudi Arabia': 35421.0,
 'Singapore': 54454.333333333336,
 'South Korea': 49725.6,
 'Spain': 40600.666666666664,
 'Sweden': 27963.666666666668,
 'Switzerland': 51353.57142857143,
 'Taiwan': 46364.666666666664,
 'Thailand': 48719.0,
 'Turkey': 23456.0,
 'U.A.E': 22799.0,
 'USA': 64218.371212121216,
 'Venezuela': 24403.0}

In [58]:
# Find top employer in each country
top_employer_by_country = {}

# Create an array for unique countries
countries = f500["country"].unique()

# for loop to find top employer in each country
for c in countries:
  # select all the rows for that country
  selected_rows = f500[f500["country"] == c]
  # sort the selected rows
  sorted_rows = selected_rows.sort_values('employees', ascending=False)
  # Assign the 0 index of sorted row company
  first_row = sorted_rows.iloc[0]
  # Assign the company name from first_row
  top_employer_by_country[c] = first_row["company"]

top_employer_by_country

{'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Brazil': 'JBS',
 'Britain': 'Compass Group',
 'Canada': 'George Weston',
 'China': 'China National Petroleum',
 'Denmark': 'Maersk Group',
 'Finland': 'Nokia',
 'France': 'Sodexo',
 'Germany': 'Volkswagen',
 'India': 'State Bank of India',
 'Indonesia': 'Pertamina',
 'Ireland': 'Accenture',
 'Israel': 'Teva Pharmaceutical Industries',
 'Italy': 'Poste Italiane',
 'Japan': 'Toyota Motor',
 'Luxembourg': 'ArcelorMittal',
 'Malaysia': 'Petronas',
 'Mexico': 'America Movil',
 'Netherlands': 'EXOR Group',
 'Norway': 'Statoil',
 'Russia': 'Gazprom',
 'Saudi Arabia': 'SABIC',
 'Singapore': 'Flex',
 'South Korea': 'Samsung Electronics',
 'Spain': 'Banco Santander',
 'Sweden': 'H & M Hennes & Mauritz',
 'Switzerland': 'Nestle',
 'Taiwan': 'Hon Hai Precision Industry',
 'Thailand': 'PTT',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'USA': 'Walmart',
 'Venezuela': 'Mercantil Servicios Financieros'}

### 12. Challenge: Calculating Return on Assets by Country

ROA(Return On Assets) is a metric which indicates a company's ability to make profit using their available assets.

$return on assets = {profit}/{assets}$

In [59]:
# create a new column roa on 5f00 datafram
f500["roa"] = f500["profits"]/f500["assets"]
f500

                            company  rank  ...  rank_change       roa
0                           Walmart     1  ...          0.0  0.068618
1                        State Grid     2  ...          0.0  0.019540
2                     Sinopec Group     3  ...          1.0  0.004048
3          China National Petroleum     4  ...         -1.0  0.003189
4                      Toyota Motor     5  ...          3.0  0.038620
..                              ...   ...  ...          ...       ...
495  Teva Pharmaceutical Industries   496  ...          NaN  0.003542
496        New China Life Insurance   497  ...        -70.0  0.007394
497       Wm. Morrison Supermarkets   498  ...        -61.0  0.034944
498                             TUI   499  ...        -32.0  0.070887
499                      AutoNation   500  ...          NaN  0.042793

[500 rows x 19 columns]

In [60]:
# Aggregate by sector and find the topmost company name
# Get the sector
sectors = f500["sector"].unique()

# create a data dictionary
top_roa_by_sector = {}

# For loop for each sector
for s in sectors:
  # select all rows for that sector
  selected_rows = f500[f500["sector"] == s]
  # sort rows by roa
  sorted_rows = selected_rows.sort_values("roa", ascending=False)
  # select the first row
  first_row = sorted_rows.iloc[0]
  # get the company name and assign it to dictionary
  top_roa_by_sector[s] = first_row["company"]

top_roa_by_sector

{'Aerospace & Defense': 'Lockheed Martin',
 'Apparel': 'Nike',
 'Business Services': 'Adecco Group',
 'Chemicals': 'LyondellBasell Industries',
 'Energy': 'National Grid',
 'Engineering & Construction': 'Pacific Construction Group',
 'Financials': 'Berkshire Hathaway',
 'Food & Drug Stores': 'Publix Super Markets',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Health Care': 'Gilead Sciences',
 'Hotels, Restaurants & Leisure': 'McDonald’s',
 'Household Products': 'Unilever',
 'Industrials': '3M',
 'Materials': 'CRH',
 'Media': 'Disney',
 'Motor Vehicles & Parts': 'Subaru',
 'Retailing': 'H & M Hennes & Mauritz',
 'Technology': 'Accenture',
 'Telecommunications': 'KDDI',
 'Transportation': 'Delta Air Lines',
 'Wholesalers': 'McKesson'}

## Data Cleaning Basics

### 1. Reading CSV files with encodings

In [61]:
# laptops = pd.read_csv("drive/My Drive/data/laptops.csv")

`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 4: invalid continuation byte.`

This error references UTF-8, which is a type of encoding. Computers can only understand binary (0 or 1) and encodings are systems representing characters in binary.

Following are the common encodings:
* UTF-8
* Latin-1 (also known as ISO-8859-1)
* Windows-1251

In [62]:
laptops = pd.read_csv("drive/My Drive/data/laptops.csv", encoding="Latin-1")
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

Following are the issues needs to be fixed.
* All columns has `object` type, indicating that they are represented by strings, not numbers
* Also, one of the columns `operating System Version`, has null values.
* Column labels have a variety of upper and lowercase letters, as well as spaces and parantheses
* `" Storage"` column name has a space in front of it

In [63]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [64]:
laptops_test = laptops.copy()
laptops_test

     Manufacturer                           Model Name  ...  Weight Price (Euros)
0           Apple                          MacBook Pro  ...  1.37kg       1339,69
1           Apple                          Macbook Air  ...  1.34kg        898,94
2              HP                               250 G6  ...  1.86kg        575,00
3           Apple                          MacBook Pro  ...  1.83kg       2537,45
4           Apple                          MacBook Pro  ...  1.37kg       1803,60
...           ...                                  ...  ...     ...           ...
1298       Lenovo                       Yoga 500-14ISK  ...   1.8kg        638,00
1299       Lenovo                       Yoga 900-13ISK  ...   1.3kg       1499,00
1300       Lenovo                   IdeaPad 100S-14IBR  ...   1.5kg        229,00
1301           HP  15-AC110nv (i7-6500U/6GB/1TB/Radeon  ...  2.19kg        764,00
1302         Asus  X553SA-XX031T (N3050/4GB/500GB/W10)  ...   2.2kg        369,00

[1303 rows x 13 columns]

In [65]:
# Assigning column labels
laptops_test.columns = ["A", "B", "C", "D", "E",
                        'F', 'G', 'H', 'I', 'J',
                        'K', 'L', 'M']
print(laptops_test.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M'], dtype='object')

In [66]:
# remove any whitepace from start and end of each column name
new_columns = []
# For Loop the columns
for col in laptops.columns:
  new_columns.append(str.strip(col))
new_columns

['Manufacturer',
 'Model Name',
 'Category',
 'Screen Size',
 'Screen',
 'CPU',
 'RAM',
 'Storage',
 'GPU',
 'Operating System',
 'Operating System Version',
 'Weight',
 'Price (Euros)']

In [67]:
# Assign the new columns to laptops
laptops.columns = new_columns

### 2. Cleaning Column Names

In [68]:
# check the laptops info
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7   Storage                   1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

### 3. Cleaning Column Names

Column labels still have the following issues, which will make them harder to work with:
* Upper and lowercase letters
* Parentheses

Let's finish cleaning our column labels by:
* Replacing spaces with underscores
* Removing special characters
* Making all labels lowercase
* Shortening any long column names

In [69]:
# create a function to clean column labels
def clean_col(col):
  col = col.strip()
  col = col.replace("(", "")
  col = col.replace(")", "")
  col = col.replace("Operating System", "os")  
  col = col.replace(" ", "_")
  col = col.lower()
  return col

In [70]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', 'Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [71]:
# clean the column labels
new_columns = []
for col in laptops.columns:
  clean_c = clean_col(col)
  new_columns.append(clean_c)

new_columns

['manufacturer',
 'model_name',
 'category',
 'screen_size',
 'screen',
 'cpu',
 'ram',
 'storage',
 'gpu',
 'os',
 'os_version',
 'weight',
 'price_euros']

In [72]:
# Assign the new columns
laptops.columns = new_columns

In [73]:
laptops.columns

Index(['manufacturer', 'model_name', 'category', 'screen_size', 'screen',
       'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight',
       'price_euros'],
      dtype='object')

### 4. Converting String Columns to Numeric

All 13 columns have the object dtype, meaning they are stored as strings.

In [74]:
print(laptops.iloc[:5, 2:5])

    category screen_size                              screen
0  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600
1  Ultrabook       13.3"                            1440x900
2   Notebook       15.6"                   Full HD 1920x1080
3  Ultrabook       15.4"  IPS Panel Retina Display 2880x1800
4  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600

From the above columns, we have three different types of text data:
* category - text data
* screen_size - Numeric data stored with "
* screen - combination of text data and with numeric data

Following is the workflow steps to convert text to numeric data:
1. Explore the data in the columns
2. Identify patterns and special cases
3. Remove non-digit characters
4. Convert the column to a numeric dtype
5. Rename column if required

In [75]:
# 1. Explore the data
laptops["screen_size"].dtype, laptops["screen_size"].unique()

(dtype('O'),
 array(['13.3"', '15.6"', '15.4"', '14.0"', '12.0"', '11.6"', '17.3"',
        '10.1"', '13.5"', '12.5"', '13.0"', '18.4"', '13.9"', '12.3"',
        '17.0"', '15.0"', '14.1"', '11.3"'], dtype=object))

In [76]:
# 2. Identify patterns and special cases
unique_ram = laptops["ram"].unique()
unique_ram

array(['8GB', '16GB', '4GB', '2GB', '12GB', '6GB', '32GB', '24GB', '64GB'],
      dtype=object)

### 5. Removing Non-Digit Characters

pandas library contains dozens of **vectorized string methods**, most of the methods are available using `Series.str` accessor, which means we can access them by adding `str` between the series name and the method name.

`Series.str.replace()` method is the vectorized version of `str.replace()`.

In [77]:
laptops["screen_size"] = laptops["screen_size"].str.replace('"', "")
laptops["screen_size"].unique()

array(['13.3', '15.6', '15.4', '14.0', '12.0', '11.6', '17.3', '10.1',
       '13.5', '12.5', '13.0', '18.4', '13.9', '12.3', '17.0', '15.0',
       '14.1', '11.3'], dtype=object)

In [78]:
laptops["ram"] = laptops["ram"].str.replace("GB", "")
unique_ram = laptops["ram"].unique()

### 6. Converting columns to Numeric Dtypes

Use `Series.astype()` method to covert to numeric dtype

In [79]:
laptops["screen_size"] = laptops["screen_size"].astype(float)
laptops["screen_size"].dtype, laptops["screen_size"].unique()

(dtype('float64'),
 array([13.3, 15.6, 15.4, 14. , 12. , 11.6, 17.3, 10.1, 13.5, 12.5, 13. ,
        18.4, 13.9, 12.3, 17. , 15. , 14.1, 11.3]))

In [81]:
laptops["ram"] = laptops["ram"].astype(int)
dtypes = laptops.dtypes
dtypes

manufacturer     object
model_name       object
category         object
screen_size     float64
screen           object
cpu              object
ram               int64
storage          object
gpu              object
os               object
os_version       object
weight           object
price_euros      object
dtype: object

### 7. Renaming columns

In [82]:
# Rename screen_size as screen_size_inches
laptops.rename({"screen_size":"screen_size_inches"}, axis=1, inplace=True)
laptops.dtypes

manufacturer           object
model_name             object
category               object
screen_size_inches    float64
screen                 object
cpu                    object
ram                     int64
storage                object
gpu                    object
os                     object
os_version             object
weight                 object
price_euros            object
dtype: object

In [84]:
# Rename ram to ram_gb
laptops.rename({"ram" : "ram_gb"}, axis=1, inplace=True)
# describe ram_gb
ram_gb_desc = laptops["ram_gb"].describe()
ram_gb_desc

count    1303.000000
mean        8.382195
std         5.084665
min         2.000000
25%         4.000000
50%         8.000000
75%         8.000000
max        64.000000
Name: ram_gb, dtype: float64

### 8. Extracting values from strings

In [85]:
# Extract non numeric values from gpu column
laptops.gpu.head()

0    Intel Iris Plus Graphics 640
1          Intel HD Graphics 6000
2           Intel HD Graphics 620
3              AMD Radeon Pro 455
4    Intel Iris Plus Graphics 650
Name: gpu, dtype: object

In [90]:
# Lets use series split
laptops["gpu"].head().str.split()

0    [Intel, Iris, Plus, Graphics, 640]
1           [Intel, HD, Graphics, 6000]
2            [Intel, HD, Graphics, 620]
3               [AMD, Radeon, Pro, 455]
4    [Intel, Iris, Plus, Graphics, 650]
Name: gpu, dtype: object

In [91]:
# Lets extract cpu manufacturer
laptops["gpu"].head().str.split().str[0]

0    Intel
1    Intel
2    Intel
3      AMD
4    Intel
Name: gpu, dtype: object

In [92]:
# gpu_manufacturer
laptops["gpu_manufacturer"] = laptops["gpu"].str.split().str[0]

In [93]:
# Lets make cpu_manufacturer column
laptops["cpu_manufacturer"] = (laptops["cpu"]
                                       .str.split()
                                       .str[0])

In [94]:
cpu_manufacturer_counts = laptops["cpu_manufacturer"].value_counts()
cpu_manufacturer_counts

Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64

### 9. Correcting Bad Values

When the data was scraped from webpage or if there was a manual data entry involved at some point, you may end with inconsistent values.

In [95]:
laptops["os"].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          13
Mac OS          8
Android         2
Name: os, dtype: int64

In [101]:
# Series.map() with a dictionary
s = pd.Series(["pair", "oranje", "bananna", "oranje", "oranje", "oranje"])
s

0       pair
1     oranje
2    bananna
3     oranje
4     oranje
5     oranje
dtype: object

In [102]:
corrections = {"pair" : "pear",
               "oranje" : "orange",
               "bananna" : "banana"}
s = s.map(corrections)    
s

0      pear
1    orange
2    banana
3    orange
4    orange
5    orange
dtype: object

In [103]:
# if the value does not exist in series wrto correction, it will covert to NaN
s = s.map(corrections)
s

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: object

In [106]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}
laptops["os"] = laptops["os"].map(mapping_dict)
laptops["os"].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          21
Android         2
Name: os, dtype: int64

### 10. Dropping missing values

In pandas, null values will be indicated by either `NaN` or `None`.

In [107]:
# Identify missing values
laptops.isnull()

      manufacturer  model_name  ...  gpu_manufacturer  cpu_manufacturer
0            False       False  ...             False             False
1            False       False  ...             False             False
2            False       False  ...             False             False
3            False       False  ...             False             False
4            False       False  ...             False             False
...            ...         ...  ...               ...               ...
1298         False       False  ...             False             False
1299         False       False  ...             False             False
1300         False       False  ...             False             False
1301         False       False  ...             False             False
1302         False       False  ...             False             False

[1303 rows x 15 columns]

In [108]:
# Get the count of each null columns
laptops.isnull().sum()

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram_gb                  0
storage                 0
gpu                     0
os                      0
os_version            170
weight                  0
price_euros             0
gpu_manufacturer        0
cpu_manufacturer        0
dtype: int64

There are a few options for handling missing values:
* Remove any rows that have missing values
* Remove any columns that have missing values
* Fill the missing values with some other value
* Leave the missing values as is

In [112]:
df = pd.DataFrame(np.array([[6, 3, 7, 4],
                            [6, 2, np.NaN, 7],
                            [4, 3, 7, 7],                            
                            [2, 5, np.NaN, 7],                                                        
                           ]))
df

     0    1    2    3
0  6.0  3.0  7.0  4.0
1  6.0  2.0  NaN  7.0
2  4.0  3.0  7.0  7.0
3  2.0  5.0  NaN  7.0

In [113]:
# default axis = 0
df.dropna()

     0    1    2    3
0  6.0  3.0  7.0  4.0
2  4.0  3.0  7.0  7.0

In [115]:
df.dropna(axis=1)

     0    1    3
0  6.0  3.0  4.0
1  6.0  2.0  7.0
2  4.0  3.0  7.0
3  2.0  5.0  7.0

In [117]:
laptops_no_null_rows = laptops.dropna()
laptops_no_null_rows.isnull().sum()

manufacturer          0
model_name            0
category              0
screen_size_inches    0
screen                0
cpu                   0
ram_gb                0
storage               0
gpu                   0
os                    0
os_version            0
weight                0
price_euros           0
gpu_manufacturer      0
cpu_manufacturer      0
dtype: int64

In [120]:
laptops_no_null_columns = laptops.dropna(axis=1)
laptops_no_null_columns.isnull().sum()

manufacturer          0
model_name            0
category              0
screen_size_inches    0
screen                0
cpu                   0
ram_gb                0
storage               0
gpu                   0
os                    0
weight                0
price_euros           0
gpu_manufacturer      0
cpu_manufacturer      0
dtype: int64

### 11. Filling missing values

In [122]:
# Explore the missing values in the os_version column
laptops["os_version"].value_counts(dropna = False)

10      1072
NaN      170
7         45
X          8
10 S       8
Name: os_version, dtype: int64

In [123]:
# lets explore the os column where os_version is null
os_with_null_v = laptops.loc[laptops["os_version"].isnull(), "os"]
os_with_null_v.value_counts()

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [124]:
# Lets the fix the macOs null version
laptops.loc[laptops["os"] == "macOS", "os_version"] = "X"

In [125]:
value_counts_before = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()
value_counts_before

No OS        66
Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64

In [131]:
# For NO OS values, lets replace missing value as "Version Unknown"
laptops.loc[laptops["os"] == "No OS", "os_version"] = "Version Unknown"

In [133]:
value_counts_after = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()
value_counts_after

Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64

### 12. Clean a String Column

In [134]:
# We'll clean the weight column
laptops["weight"].head()

0    1.37kg
1    1.34kg
2    1.86kg
3    1.83kg
4    1.37kg
Name: weight, dtype: object

In [136]:
# lets replace the string kg
laptops["weight"] = laptops["weight"].str.replace("kg", "")
laptops["weight"].value_counts()

2.2     121
2.1      58
2.4      44
2.3      41
2.5      38
       ...
4s        1
2.72      1
3.52      1
1.31      1
1.59      1
Name: weight, Length: 179, dtype: int64

In [137]:
# check the unique values
laptops["weight"].unique()

array(['1.37', '1.34', '1.86', '1.83', '2.1', '2.04', '1.3', '1.6', '2.2',
       '0.92', '1.22', '0.98', '2.5', '1.62', '1.91', '2.3', '1.35',
       '1.88', '1.89', '1.65', '2.71', '1.2', '1.44', '2.8', '2', '2.65',
       '2.77', '3.2', '0.69', '1.49', '2.4', '2.13', '2.43', '1.7', '1.4',
       '1.8', '1.9', '3', '1.252', '2.7', '2.02', '1.63', '1.96', '1.21',
       '2.45', '1.25', '1.5', '2.62', '1.38', '1.58', '1.85', '1.23',
       '1.26', '2.16', '2.36', '2.05', '1.32', '1.75', '0.97', '2.9',
       '2.56', '1.48', '1.74', '1.1', '1.56', '2.03', '1.05', '4.4',
       '1.90', '1.29', '2.0', '1.95', '2.06', '1.12', '1.42', '3.49',
       '3.35', '2.23', '4.42', '2.69', '2.37', '4.7', '3.6', '2.08',
       '4.3', '1.68', '1.41', '4.14', '2.18', '2.24', '2.67', '2.14',
       '1.36', '2.25', '2.15', '2.19', '2.54', '3.42', '1.28', '2.33',
       '1.45', '2.79', '1.84', '2.6', '2.26', '3.25', '1.59', '1.13',
       '1.78', '1.10', '1.15', '1.27', '1.43', '2.31', '1.16', '1.64',
       '2.17', '1.47', '3.78', '1.79', '0.91', '1.99', '4.33', '1.93',
       '1.87', '2.63', '3.4', '3.14', '1.94', '1.24', '4.6', '4.5',
       '2.73', '1.39', '2.29', '2.59', '2.94', '1.14', '3.8', '3.31',
       '1.09', '3.21', '1.19', '1.98', '1.17', '4.36', '1.71', '2.32',
       '4.2', '1.55', '0.81', '1.18', '2.72', '1.31', '0.920', '3.74',
       '1.76', '1.54', '2.83', '2.07', '2.38', '3.58', '1.08', '2.20',
       '2.75', '1.70', '2.99', '1.11', '2.09', '4s', '3.0', '0.99',
       '3.52', '2.591', '2.21', '3.3', '2.191', '2.34', '4.0'],
      dtype=object)

In [139]:
# replace "s"
laptops["weight"] = laptops["weight"].str.replace("s", "")
laptops["weight"].unique()

array(['1.37', '1.34', '1.86', '1.83', '2.1', '2.04', '1.3', '1.6', '2.2',
       '0.92', '1.22', '0.98', '2.5', '1.62', '1.91', '2.3', '1.35',
       '1.88', '1.89', '1.65', '2.71', '1.2', '1.44', '2.8', '2', '2.65',
       '2.77', '3.2', '0.69', '1.49', '2.4', '2.13', '2.43', '1.7', '1.4',
       '1.8', '1.9', '3', '1.252', '2.7', '2.02', '1.63', '1.96', '1.21',
       '2.45', '1.25', '1.5', '2.62', '1.38', '1.58', '1.85', '1.23',
       '1.26', '2.16', '2.36', '2.05', '1.32', '1.75', '0.97', '2.9',
       '2.56', '1.48', '1.74', '1.1', '1.56', '2.03', '1.05', '4.4',
       '1.90', '1.29', '2.0', '1.95', '2.06', '1.12', '1.42', '3.49',
       '3.35', '2.23', '4.42', '2.69', '2.37', '4.7', '3.6', '2.08',
       '4.3', '1.68', '1.41', '4.14', '2.18', '2.24', '2.67', '2.14',
       '1.36', '2.25', '2.15', '2.19', '2.54', '3.42', '1.28', '2.33',
       '1.45', '2.79', '1.84', '2.6', '2.26', '3.25', '1.59', '1.13',
       '1.78', '1.10', '1.15', '1.27', '1.43', '2.31', '1.16', '1.64',
       '2.17', '1.47', '3.78', '1.79', '0.91', '1.99', '4.33', '1.93',
       '1.87', '2.63', '3.4', '3.14', '1.94', '1.24', '4.6', '4.5',
       '2.73', '1.39', '2.29', '2.59', '2.94', '1.14', '3.8', '3.31',
       '1.09', '3.21', '1.19', '1.98', '1.17', '4.36', '1.71', '2.32',
       '4.2', '1.55', '0.81', '1.18', '2.72', '1.31', '0.920', '3.74',
       '1.76', '1.54', '2.83', '2.07', '2.38', '3.58', '1.08', '2.20',
       '2.75', '1.70', '2.99', '1.11', '2.09', '4', '3.0', '0.99', '3.52',
       '2.591', '2.21', '3.3', '2.191', '2.34', '4.0'], dtype=object)

In [140]:
# change it to float
laptops["weight"] = laptops["weight"].astype(float)
laptops["weight"].unique()

array([1.37 , 1.34 , 1.86 , 1.83 , 2.1  , 2.04 , 1.3  , 1.6  , 2.2  ,
       0.92 , 1.22 , 0.98 , 2.5  , 1.62 , 1.91 , 2.3  , 1.35 , 1.88 ,
       1.89 , 1.65 , 2.71 , 1.2  , 1.44 , 2.8  , 2.   , 2.65 , 2.77 ,
       3.2  , 0.69 , 1.49 , 2.4  , 2.13 , 2.43 , 1.7  , 1.4  , 1.8  ,
       1.9  , 3.   , 1.252, 2.7  , 2.02 , 1.63 , 1.96 , 1.21 , 2.45 ,
       1.25 , 1.5  , 2.62 , 1.38 , 1.58 , 1.85 , 1.23 , 1.26 , 2.16 ,
       2.36 , 2.05 , 1.32 , 1.75 , 0.97 , 2.9  , 2.56 , 1.48 , 1.74 ,
       1.1  , 1.56 , 2.03 , 1.05 , 4.4  , 1.29 , 1.95 , 2.06 , 1.12 ,
       1.42 , 3.49 , 3.35 , 2.23 , 4.42 , 2.69 , 2.37 , 4.7  , 3.6  ,
       2.08 , 4.3  , 1.68 , 1.41 , 4.14 , 2.18 , 2.24 , 2.67 , 2.14 ,
       1.36 , 2.25 , 2.15 , 2.19 , 2.54 , 3.42 , 1.28 , 2.33 , 1.45 ,
       2.79 , 1.84 , 2.6  , 2.26 , 3.25 , 1.59 , 1.13 , 1.78 , 1.15 ,
       1.27 , 1.43 , 2.31 , 1.16 , 1.64 , 2.17 , 1.47 , 3.78 , 1.79 ,
       0.91 , 1.99 , 4.33 , 1.93 , 1.87 , 2.63 , 3.4  , 3.14 , 1.94 ,
       1.24 , 4.6  , 4.5  , 2.73 , 1.39 , 2.29 , 2.59 , 2.94 , 1.14 ,
       3.8  , 3.31 , 1.09 , 3.21 , 1.19 , 1.98 , 1.17 , 4.36 , 1.71 ,
       2.32 , 4.2  , 1.55 , 0.81 , 1.18 , 2.72 , 1.31 , 3.74 , 1.76 ,
       1.54 , 2.83 , 2.07 , 2.38 , 3.58 , 1.08 , 2.75 , 2.99 , 1.11 ,
       2.09 , 4.   , 0.99 , 3.52 , 2.591, 2.21 , 3.3  , 2.191, 2.34 ])

In [143]:
laptops.rename({"weight" : "weight_kg"}, axis=1, inplace=True)
laptops.dtypes

manufacturer           object
model_name             object
category               object
screen_size_inches    float64
screen                 object
cpu                    object
ram_gb                  int64
storage                object
gpu                    object
os                     object
os_version             object
weight_kg             float64
price_euros            object
gpu_manufacturer       object
cpu_manufacturer       object
dtype: object

In [147]:
laptops.to_csv("drive/My Drive/data/laptops_cleaned.csv", index=False)

In [148]:
# convert price_euros column to a numeric dtype
laptops["price_euros"].unique()

array(['1339,69', '898,94', '575,00', '2537,45', '1803,60', '400,00',
       '2139,97', '1158,70', '1495,00', '770,00', '393,90', '344,99',
       '2439,97', '498,90', '1262,40', '1518,55', '745,00', '2858,00',
       '499,00', '979,00', '191,90', '999,00', '258,00', '819,00',
       '659,00', '418,64', '1099,00', '800,00', '1298,00', '896,00',
       '244,99', '199,00', '439,00', '1869,00', '998,00', '249,00',
       '367,00', '488,69', '879,00', '389,00', '1499,00', '522,99',
       '682,00', '1419,00', '369,00', '1299,00', '639,00', '466,00',
       '319,00', '841,00', '398,49', '1103,00', '384,00', '767,80',
       '586,19', '2449,00', '415,00', '599,00', '941,00', '690,00',
       '1983,00', '438,69', '229,00', '549,00', '949,00', '1089,00',
       '955,00', '870,00', '1095,00', '519,00', '855,00', '530,00',
       '977,00', '1096,16', '1510,00', '860,00', '399,00', '395,00',
       '1349,00', '699,00', '598,99', '1449,00', '1649,00', '689,00',
       '1197,00', '1195,00', '1049,00', '847,00', '599,90', '485,00',
       '577,00', '1249,00', '719,00', '349,00', '647,00', '1119,00',
       '1340,00', '414,90', '1193,00', '1480,00', '1262,00', '1379,00',
       '1399,00', '722,00', '1629,00', '1398,99', '1084,00', '1130,33',
       '564,00', '1118,00', '479,00', '2241,50', '629,00', '1271,00',
       '451,00', '259,00', '812,00', '277,99', '1396,00', '928,00',
       '638,99', '449,00', '884,00', '572,00', '598,00', '988,00',
       '252,36', '938,00', '655,00', '1116,02', '869,00', '602,00',
       '2014,00', '344,00', '2029,00', '447,00', '1249,26', '899,00',
       '498,00', '1890,00', '1082,00', '619,00', '1315,00', '403,00',
       '805,00', '728,00', '1079,00', '348,00', '1799,00', '363,51',
       '1060,49', '854,00', '754,00', '309,00', '489,00', '923,00',
       '459,00', '2799,00', '813,00', '1849,00', '793,00', '1199,00',
       '1549,00', '2397,00', '779,00', '989,00', '1085,00', '2824,00',
       '260,00', '999,90', '698,00', '839,00', '914,00', '6099,00',
       '959,00', '1045,00', '1845,00', '493,00', '742,00', '1749,00',
       '3055,00', '1398,00', '1949,00', '597,00', '1407,00', '931,88',
       '589,00', '1031,00', '1149,00', '1279,00', '677,35', '1363,00',
       '794,00', '2456,34', '832,00', '859,01', '769,00', '891,00',
       '1269,00', '398,99', '330,00', '859,00', '390,00', '3890,00',
       '846,00', '1145,00', '889,00', '985,00', '559,00', '2999,00',
       '675,00', '2040,00', '469,00', '702,00', '445,90', '1059,00',
       '2499,00', '1699,00', '1142,00', '444,00', '657,00', '565,00',
       '799,00', '467,00', '1018,00', '880,00', '1958,90', '735,07',
       '713,07', '849,00', '428,00', '829,00', '579,00', '951,00',
       '1097,00', '1179,00', '659,01', '1187,00', '1829,00', '739,00',
       '2884,86', '1468,00', '509,00', '2122,00', '649,00', '1265,00',
       '359,99', '1975,00', '1043,00', '2099,00', '275,00', '844,00',
       '459,90', '980,00', '1292,00', '1094,00', '902,00', '292,00',
       '1049,90', '1335,00', '2639,00', '943,00', '1334,00', '1268,00',
       '1144,00', '274,99', '1142,75', '274,90', '716,00', '1579,00',
       '1129,00', '279,00', '1607,96', '375,00', '663,00', '2027,42',
       '1304,00', '1409,00', '1738,27', '1403,00', '970,90', '321,99',
       '557,37', '1427,00', '945,00', '809,00', '1750,00', '426,00',
       '2199,00', '869,01', '488,99', '553,00', '286,00', '1191,00',
       '403,50', '1655,00', '1748,90', '2282,00', '1369,00', '2135,00',
       '2509,00', '1039,00', '1591,00', '693,99', '778,87', '1229,56',
       '2712,00', '2625,00', '306,00', '1529,00', '1144,50', '2249,00',
       '1873,00', '1747,00', '1680,00', '409,00', '304,45', '1925,00',
       '1943,00', '789,01', '598,90', '1500,00', '539,95', '1215,38',
       '1899,00', '1159,00', '1142,40', '1999,00', '299,00', '269,00',
       '1010,00', '2445,00', '1695,00', '347,00', '2382,00', '749,00',
       '1429,00', '441,80', '1993,00', '1027,74', '2589,00', '1534,00',
       '1345,00', '2046,00', '639,90', '544,00', '435,00', '2090,00',
       '304,00', '759,00', '1858,00', '1154,00', '1275,00', '1841,85',
       '740,00', '2408,00', '1364,00', '1672,00', '586,60', '726,00',
       '248,90', '2338,00', '1798,00', '1950,00', '1011,99', '1350,00',
       '898,90', '911,00', '340,00', '618,99', '1599,00', '265,00',
       '1224,00', '613,00', '1323,00', '836,00', '1219,24', '1399,95',
       '245,00', '521,47', '2968,00', '1504,00', '1279,73', '585,00',
       '1377,00', '3012,77', '797,41', '735,87', '798,00', '705,50',
       '785,00', '462,35', '397,00', '1729,00', '1116,99', '2699,00',
       '544,15', '1280,00', '224,00', '255,00', '568,90', '617,90',
       '630,00', '1965,00', '990,00', '1860,99', '830,00', '685,00',
       '1865,00', '2663,00', '2729,00', '749,01', '1008,52', '1537,39',
       '295,00', '2349,00', '1498,00', '1673,00', '609,00', '1770,00',
       '603,00', '529,00', '2025,00', '1474,00', '1670,00', '1763,00',
       '1219,00', '668,48', '329,00', '465,00', '2299,00', '4899,00',
       '879,01', '443,90', '359,00', '1168,00', '569,00', '1389,00',
       '2267,86', '379,00', '1124,00', '1465,00', '776,00', '932,00',
       '239,00', '468,00', '639,01', '1820,00', '1900,00', '1479,00',
       '906,62', '1757,42', '2399,00', '1109,00', '520,90', '2450,00',
       '1169,00', '450,00', '274,00', '919,00', '2599,00', '1213,00',
       '1584,00', '709,00', '1449,90', '1191,80', '364,90', '1064,00',
       '1135,00', '1196,00', '3147,37', '1229,00', '419,00', '535,00',
       '539,00', '1486,77', '1258,00', '412,00', '1867,85', '817,95',
       '1034,00', '1294,00', '495,00', '997,90', '2051,00', '2813,75',
       '612,61', '545,67', '318,00', '1907,99', '2590,00', '973,00',
       '669,00', '1877,00', '429,00', '621,45', '795,00', '1855,00',
       '655,01', '298,00', '1426,66', '857,07', '1200,00', '1686,64',
       '836,60', '3659,40', '1348,48', '489,90', '589,52', '1935,00',
       '650,00', '960,00', '2419,00', '2094,48', '410,80', '1207,00',
       '665,00', '1535,00', '3299,00', '1126,71', '4389,00', '475,00',
       '1096,00', '849,90', '1561,00', '2868,99', '1048,00', '1859,00',
       '1559,00', '470,34', '1181,27', '1020,00', '1244,00', '2370,00',
       '636,00', '2899,00', '581,90', '3588,80', '2350,00', '1764,00',
       '1891,00', '1339,00', '202,90', '1970,00', '1165,00', '2330,00',
       '810,00', '2064,90', '744,00', '780,00', '1679,00', '2415,00',
       '961,00', '789,81', '385,00', '2505,02', '755,00', '1090,00',
       '1875,00', '1358,00', '355,00', '5499,00', '1186,00', '1650,00',
       '2774,63', '325,00', '590,00', '3072,89', '910,00', '713,99',
       '1870,00', '615,00', '1026,00', '2277,00', '865,00', '1903,00',
       '787,00', '2559,00', '850,66', '1285,00', '1017,00', '2240,00',
       '1778,00', '1055,00', '1388,00', '735,00', '1690,00', '935,00',
       '912,50', '1700,00', '684,80', '455,70', '1369,90', '297,00',
       '2649,00', '1475,00', '929,00', '900,00', '614,00', '2013,10',
       '2049,00', '1962,99', '1483,00', '789,00', '1205,00', '3100,00',
       '1018,99', '881,00', '1119,91', '684,99', '1296,99', '1825,00',
       '729,90', '708,06', '288,90', '1105,00', '1669,00', '558,60',
       '1639,00', '2758,00', '1472,20', '1775,00', '1460,00', '1488,99',
       '3154,00', '775,00', '1760,00', '1009,00', '1790,00', '846,50',
       '465,62', '825,00', '3149,00', '695,00', '1962,98', '2800,00',
       '1180,00', '2049,90', '1002,00', '915,00', '806,00', '1189,00',
       '1908,00', '270,62', '1150,00', '380,00', '2089,00', '1260,00',
       '547,00', '1099,99', '1049,26', '684,00', '1539,00', '1590,00',
       '1887,21', '1210,00', '769,99', '1490,00', '2229,00', '795,99',
       '1185,43', '1046,44', '1060,00', '1624,00', '1080,00', '1228,99',
       '1725,00', '1062,95', '1010,51', '210,80', '1425,00', '1049,60',
       '1000,00', '2103,34', '1469,00', '1545,64', '2289,99', '287,90',
       '2620,00', '2254,00', '705,15', '1819,00', '1070,00', '989,99',
       '1929,00', '1458,00', '3975,00', '798,01', '1329,00', '1300,00',
       '481,98', '1713,49', '540,00', '940,00', '3240,00', '646,27',
       '750,00', '1030,99', '387,00', '393,49', '345,99', '818,35',
       '638,80', '500,00', '1135,15', '1166,97', '209,00', '1413,10',
       '1511,19', '867,00', '398,00', '769,15', '1969,00', '2749,99',
       '1029,00', '2226,00', '1312,49', '196,00', '1513,00', '523,63',
       '1895,00', '2050,38', '278,00', '752,00', '616,00', '3949,40',
       '784,00', '2171,72', '2440,00', '1142,80', '2296,95', '1009,90',
       '2339,00', '339,00', '2250,68', '478,89', '1492,80', '788,49',
       '2041,00', '1769,00', '476,99', '1390,00', '679,00', '1305,00',
       '2153,37', '1637,00', '831,00', '895,01', '333,00', '909,00',
       '691,00', '1163,00', '1327,00', '368,00', '2150,00', '272,00',
       '2048,90', '2680,00', '1948,99', '174,00', '1272,00', '1476,11',
       '1713,37', '1477,00', '521,86', '3499,00', '469,01', '1598,00',
       '478,00', '2198,19', '737,00', '597,57', '361,80', '1600,00',
       '875,00', '2325,00', '573,00', '1813,00', '324,00', '1072,00',
       '443,99', '490,00', '895,00', '833,01', '729,00', '289,00',
       '549,99', '805,99', '720,32', '638,00', '764,00'], dtype=object)

In [149]:
laptops["price_euros"] = laptops["price_euros"].str.replace(",", "")

In [150]:
laptops["price_euros"] = laptops["price_euros"].astype(int)

In [151]:
laptops["price_euros"].dtype

dtype('int64')

In [152]:
# Extract the screen resolution from screen column
laptops["screen"].head()

0    IPS Panel Retina Display 2560x1600
1                              1440x900
2                     Full HD 1920x1080
3    IPS Panel Retina Display 2880x1800
4    IPS Panel Retina Display 2560x1600
Name: screen, dtype: object

In [153]:
laptops["screen"].head().str.split()

0    [IPS, Panel, Retina, Display, 2560x1600]
1                                  [1440x900]
2                       [Full, HD, 1920x1080]
3    [IPS, Panel, Retina, Display, 2880x1800]
4    [IPS, Panel, Retina, Display, 2560x1600]
Name: screen, dtype: object

In [159]:
laptops["screen"].head().str.split().str[-1]

0    2560x1600
1     1440x900
2    1920x1080
3    2880x1800
4    2560x1600
Name: screen, dtype: object

In [160]:
laptops["screen_resolution"] = laptops["screen"].str.split().str[-1]
laptops.dtypes

manufacturer           object
model_name             object
category               object
screen_size_inches    float64
screen                 object
cpu                    object
ram_gb                  int64
storage                object
gpu                    object
os                     object
os_version             object
weight_kg             float64
price_euros             int64
gpu_manufacturer       object
cpu_manufacturer       object
screen_resolution      object
dtype: object

In [161]:
laptops["cpu"].head()

0          Intel Core i5 2.3GHz
1          Intel Core i5 1.8GHz
2    Intel Core i5 7200U 2.5GHz
3          Intel Core i7 2.7GHz
4          Intel Core i5 3.1GHz
Name: cpu, dtype: object

In [162]:
laptops["processor_speed"] = laptops["cpu"].str.split().str[-1]

In [163]:
laptops["processor_speed"].value_counts()

2.5GHz     290
2.8GHz     165
2.7GHz     165
1.6GHz     133
2.3GHz      86
1.8GHz      78
2.6GHz      76
2GHz        67
1.1GHz      53
2.4GHz      52
2.9GHz      21
3GHz        19
2.0GHz      19
1.2GHz      15
1.44GHz     12
2.2GHz      11
1.5GHz      10
1.3GHz       6
3.6GHz       5
0.9GHz       4
2.50GHz      3
2.1GHz       3
3.1GHz       3
1.9GHz       2
3.2GHz       1
1.60GHz      1
2.70GHz      1
1.92GHz      1
1.0GHz       1
Name: processor_speed, dtype: int64

In [164]:
laptops.head()

  manufacturer   model_name  ... screen_resolution  processor_speed
0        Apple  MacBook Pro  ...         2560x1600           2.3GHz
1        Apple  Macbook Air  ...          1440x900           1.8GHz
2           HP       250 G6  ...         1920x1080           2.5GHz
3        Apple  MacBook Pro  ...         2880x1800           2.7GHz
4        Apple  MacBook Pro  ...         2560x1600           3.1GHz

[5 rows x 17 columns]

In [166]:
laptops.groupby("manufacturer")["price_euros"].max().sort_values(ascending=False)

manufacturer
Razer        609900
Lenovo       489900
HP           438900
Asus         397500
Dell         365940
Apple        285800
Toshiba      279900
MSI          279900
Acer         259900
Microsoft    258900
LG           229900
Google       219900
Samsung      184900
Huawei       149900
Xiaomi       139995
Fujitsu       79900
Chuwi         44900
Mediacom      38900
Vero          26000
Name: price_euros, dtype: int64