<a href="https://colab.research.google.com/github/balaorcl/mlbasics/blob/main/s2c1_pandas_numpy_fundas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas and NumPy Fundamentals

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Introduction to Numpy

In [3]:
import numpy as np

In [4]:
data_ndarray = np.array([5, 10, 15, 20])
data_ndarray

array([ 5, 10, 15, 20])

## Boolean Indexing with Numpy

In [5]:
import numpy as np

In [6]:
taxi = np.genfromtxt("drive/My Drive/data/nyc_taxis.csv", delimiter=",")
taxi_shape = taxi.shape
taxi_shape

(89561, 15)

In [7]:
import csv

# impoer nyc_taxis.csv as a list of lists
f = open("drive/My Drive/data/nyc_taxis.csv", "r")
taxi_list = list(csv.reader(f))

## Introduction to Pandas

## Exploring Data with Pandas: Fundamentals

## Exploring Data with Pandas: Intermediate

In [8]:
import pandas as pd
# Create DataFrame
f500 = pd.read_csv("drive/My Drive/data/f500.csv", index_col=0)
f500.index.name = None
f500

                                rank  ...  total_stockholder_equity
Walmart                            1  ...                     77798
State Grid                         2  ...                    209456
Sinopec Group                      3  ...                    106523
China National Petroleum           4  ...                    301893
Toyota Motor                       5  ...                    157210
...                              ...  ...                       ...
Teva Pharmaceutical Industries   496  ...                     33337
New China Life Insurance         497  ...                      8507
Wm. Morrison Supermarkets        498  ...                      5111
TUI                              499  ...                      3006
AutoNation                       500  ...                      2310

[500 rows x 16 columns]

In [9]:
f500_dict = {"company" : "Name of the company",
             "rank": "Global 500 rank for the company",
             "revenues": "Company's total revenue for the fiscal year, in millions of USD",
             "revenue_change": "Percentage change in revenue between the current and prior fiscal year",
             "profits": "Net income for the fiscal year, in millions of dollars(USD)",
             "sector": "sector in which the company operates",
             "previous_rank": "Global 500 rank for the company for the prior year",
             "country": "Country in which the company is headquartered",
             "hq_location": "City and country, (or city and state for the USA) where the company is headquartered",
             "employees": "Total employees (full-time equivalent, if available) at fiscal year-end"
             }
f500_dict

{'company': 'Name of the company',
 'country': 'Country in which the company is headquartered',
 'employees': 'Total employees (full-time equivalent, if available) at fiscal year-end',
 'hq_location': 'City and country, (or city and state for the USA) where the company is headquartered',
 'previous_rank': 'Global 500 rank for the company for the prior year',
 'profits': 'Net income for the fiscal year, in millions of dollars(USD)',
 'rank': 'Global 500 rank for the company',
 'revenue_change': 'Percentage change in revenue between the current and prior fiscal year',
 'revenues': "Company's total revenue for the fiscal year, in millions of USD",
 'sector': 'sector in which the company operates'}

In [10]:
f500_selection=f500[["rank", "revenues", "revenue_change"]].head()
f500_selection

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

### 2. Reading CSV files with pandas

In [11]:
# Without index_col = 0
f500 = pd.read_csv("drive/My Drive/data/f500.csv")
f500

                            company  rank  ...  employees  total_stockholder_equity
0                           Walmart     1  ...    2300000                     77798
1                        State Grid     2  ...     926067                    209456
2                     Sinopec Group     3  ...     713288                    106523
3          China National Petroleum     4  ...    1512048                    301893
4                      Toyota Motor     5  ...     364445                    157210
..                              ...   ...  ...        ...                       ...
495  Teva Pharmaceutical Industries   496  ...      56960                     33337
496        New China Life Insurance   497  ...      54378                      8507
497       Wm. Morrison Supermarkets   498  ...      77210                      5111
498                             TUI   499  ...      66779                      3006
499                      AutoNation   500  ...      26000                      2310

[500 rows x 17 columns]

In [12]:
# selects all columns where previous rank = 0
f500.loc[f500["previous_rank"] == 0].head()

                    company  rank  ...  employees  total_stockholder_equity
48    Legal & General Group    49  ...       8939                      8579
90                   Uniper    91  ...      12890                     12889
123       Dell Technologies   124  ...     138000                     13243
138  Anbang Insurance Group   139  ...      40707                     20372
140         Albertsons Cos.   141  ...     273000                      1371

[5 rows x 17 columns]

In [13]:
# Select 2 columns where previous_rank = 0
f500.loc[f500["previous_rank"] == 0, ["previous_rank", "assets"]].head()

     previous_rank  assets
48               0  577954
90               0   51541
123              0  118206
138              0  430040
140              0   23755

In [14]:
# Select only previous_rank column where previous_rank = 0
f500.loc[f500["previous_rank"] == 0, "previous_rank"].head()

48     0
90     0
123    0
138    0
140    0
Name: previous_rank, dtype: int64

In [15]:
# Assign np.nan where previous_rank column = 0
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
f500

                            company  rank  ...  employees  total_stockholder_equity
0                           Walmart     1  ...    2300000                     77798
1                        State Grid     2  ...     926067                    209456
2                     Sinopec Group     3  ...     713288                    106523
3          China National Petroleum     4  ...    1512048                    301893
4                      Toyota Motor     5  ...     364445                    157210
..                              ...   ...  ...        ...                       ...
495  Teva Pharmaceutical Industries   496  ...      56960                     33337
496        New China Life Insurance   497  ...      54378                      8507
497       Wm. Morrison Supermarkets   498  ...      77210                      5111
498                             TUI   499  ...      66779                      3006
499                      AutoNation   500  ...      26000                      2310

[500 rows x 17 columns]

### 3. Using iloc to select by integer position

In [16]:
print(f500[["company", "rank", "revenues"]].head())

                    company  rank  revenues
0                   Walmart     1    485873
1                State Grid     2    315199
2             Sinopec Group     3    267518
3  China National Petroleum     4    262573
4              Toyota Motor     5    254694

In [17]:
# select 5th row from dataframe and assign it to fifth_row
fifth_row = f500.iloc[4]
fifth_row, type(fifth_row)

(company                                     Toyota Motor
 rank                                                   5
 revenues                                          254694
 revenue_change                                       7.7
 profits                                          16899.3
 assets                                            437575
 profit_change                                      -12.3
 ceo                                          Akio Toyoda
 industry                        Motor Vehicles and Parts
 sector                            Motor Vehicles & Parts
 previous_rank                                          8
 country                                            Japan
 hq_location                                Toyota, Japan
 website                     http://www.toyota-global.com
 years_on_global_500_list                              23
 employees                                         364445
 total_stockholder_equity                          157210
 Name: 4, dtype: object, pandas.core.series.Series)

In [18]:
# select the value in te first row of the company column
company_value = f500.iloc[0,0]
company_value

'Walmart'

### 4. Using iloc

In [19]:
# select only first column
first_column = f500.iloc[:,0]
first_column

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: company, Length: 500, dtype: object

In [20]:
# select all rows from index 1 to 4 inclusive
second_to_sixth_rows = f500[1:5]
second_to_sixth_rows

                    company  rank  ...  employees  total_stockholder_equity
1                State Grid     2  ...     926067                    209456
2             Sinopec Group     3  ...     713288                    106523
3  China National Petroleum     4  ...    1512048                    301893
4              Toyota Motor     5  ...     364445                    157210

[4 rows x 17 columns]

In [21]:
first_three_rows = f500.iloc[:3,:]
first_three_rows

         company  rank  ...  employees  total_stockholder_equity
0        Walmart     1  ...    2300000                     77798
1     State Grid     2  ...     926067                    209456
2  Sinopec Group     3  ...     713288                    106523

[3 rows x 17 columns]

In [22]:
first_seventh_row_slice = f500.iloc[[0,6],0:5]
first_seventh_row_slice

             company  rank  revenues  revenue_change  profits
0            Walmart     1    485873             0.8  13643.0
6  Royal Dutch Shell     7    240033           -11.8   4575.0

### 5. Using pandas methods to create boolean masks

In [23]:
# Series is null
rev_is_null = f500["revenue_change"].isnull()
rev_is_null.head()

0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool

In [24]:
rev_change_null = f500[rev_is_null]
rev_change_null[["company", "country", "sector"]]

                        company  country      sector
90                       Uniper  Germany      Energy
180  Hewlett Packard Enterprise      USA  Technology

In [25]:
# Find Previous_rank_null_companies
previous_rank_null = f500[f500["previous_rank"].isnull()]
null_previous_rank = previous_rank_null[["company", "rank", "previous_rank"]]
null_previous_rank

                                   company  rank  previous_rank
48                   Legal & General Group    49            NaN
90                                  Uniper    91            NaN
123                      Dell Technologies   124            NaN
138                 Anbang Insurance Group   139            NaN
140                        Albertsons Cos.   141            NaN
180             Hewlett Packard Enterprise   181            NaN
267                           Hengli Group   268            NaN
271         Johnson Controls International   272            NaN
341                                  Chubb   342            NaN
375                 Charter Communications   376            NaN
376                              Medtronic   377            NaN
392                               Facebook   393            NaN
409                            Kraft Heinz   410            NaN
414                                  Nokia   415            NaN
431                          Standard Life   432            NaN
440            Brookfield Asset Management   441            NaN
441        Mercantil Servicios Financieros   442            NaN
446                            Samsung C&T   447            NaN
456                        Heraeus Holding   457            NaN
458                Yango Financial Holding   459            NaN
461                  Alibaba Group Holding   462            NaN
463                            Progressive   464            NaN
466                Country Garden Holdings   467            NaN
472                                 Altice   473            NaN
477                       Tencent Holdings   478            NaN
482                                  Aflac   483            NaN
484                  Suning Commerce Group   485            NaN
487                             Xiamen C&D   488            NaN
491                         Dollar General   492            NaN
493               Xiamen ITG Holding Group   494            NaN
494  Xinjiang Guanghui Industry Investment   495            NaN
495         Teva Pharmaceutical Industries   496            NaN
499                             AutoNation   500            NaN

### 6. Working with Integer Labels

In [26]:
# select the first null previous rank
first_null_previous_rank = null_previous_rank.iloc[0]
first_null_previous_rank

company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object

In [27]:
# Errors out when loc using index
# first_null_previous_rank = null_previous_rank.loc[0]
first_null_previous_rank = null_previous_rank.loc[48]
first_null_previous_rank

company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object

In [28]:
# Get top 5 null previous rank
top5_null_prev_rank = null_previous_rank.iloc[0:5,:]
top5_null_prev_rank

                    company  rank  previous_rank
48    Legal & General Group    49            NaN
90                   Uniper    91            NaN
123       Dell Technologies   124            NaN
138  Anbang Insurance Group   139            NaN
140         Albertsons Cos.   141            NaN

In [29]:
# Get top 5 null previous rank
top5_null_prev_rank = null_previous_rank.loc[48:140,:]
top5_null_prev_rank

                    company  rank  previous_rank
48    Legal & General Group    49            NaN
90                   Uniper    91            NaN
123       Dell Technologies   124            NaN
138  Anbang Insurance Group   139            NaN
140         Albertsons Cos.   141            NaN

In [30]:
### 7. Pandas Index Alignment
# Let's use the Series.notnull()
previously_ranked = f500[f500["previous_rank"].notnull()]
previously_ranked

                       company  rank  ...  employees  total_stockholder_equity
0                      Walmart     1  ...    2300000                     77798
1                   State Grid     2  ...     926067                    209456
2                Sinopec Group     3  ...     713288                    106523
3     China National Petroleum     4  ...    1512048                    301893
4                 Toyota Motor     5  ...     364445                    157210
..                         ...   ...  ...        ...                       ...
490              National Grid   491  ...      22132                     25463
492             Telecom Italia   493  ...      61227                     22366
496   New China Life Insurance   497  ...      54378                      8507
497  Wm. Morrison Supermarkets   498  ...      77210                      5111
498                        TUI   499  ...      66779                      3006

[467 rows x 17 columns]

In [31]:
# create rank_change column
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
rank_change.shape

(467,)

In [32]:
rank_change.tail()

490   -20.0
492   -89.0
496   -70.0
497   -61.0
498   -32.0
dtype: float64

In [33]:
f500.shape, f500.tail()

((500, 17),
                             company  rank  ...  employees  total_stockholder_equity
 495  Teva Pharmaceutical Industries   496  ...      56960                     33337
 496        New China Life Insurance   497  ...      54378                      8507
 497       Wm. Morrison Supermarkets   498  ...      77210                      5111
 498                             TUI   499  ...      66779                      3006
 499                      AutoNation   500  ...      26000                      2310

 [5 rows x 17 columns])

In [34]:
# rank_change column has 467 rows, f500 dataframe has 500 rows
# when rank_change column assigned as a new column to f500, pandas will align based on index labels
f500["rank_change"] = rank_change
f500["rank_change"].value_counts(dropna=False)
# we can see not aligned label data as null

 NaN     33
-1.0     14
-4.0     13
-2.0     12
 8.0     12
         ..
-54.0     1
 55.0     1
 69.0     1
 21.0     1
-32.0     1
Name: rank_change, Length: 153, dtype: int64

### 8. Using Boolean Operators

In [35]:
cols = ["company", "revenues", "country"]
f500_sel = f500[cols].head()
f500_sel

                    company  revenues country
0                   Walmart    485873     USA
1                State Grid    315199   China
2             Sinopec Group    267518   China
3  China National Petroleum    262573   China
4              Toyota Motor    254694   Japan

In [36]:
# more than 265 billion
over_265 = f500_sel["revenues"] > 26500
over_265

0    True
1    True
2    True
3    True
4    True
Name: revenues, dtype: bool

In [37]:
china = f500_sel["country"] == "China"
china

0    False
1     True
2     True
3     True
4    False
Name: country, dtype: bool

In [38]:
combined = over_265 & china
combined

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [39]:
final_cols = ["company", "revenues"]
result = f500_sel.loc[combined, final_cols]
result

                    company  revenues
1                State Grid    315199
2             Sinopec Group    267518
3  China National Petroleum    262573

In [41]:
# Check revenues greater than 100 billion
large_revenue = f500["revenues"] > 100000
large_revenue

0       True
1       True
2       True
3       True
4       True
       ...
495    False
496    False
497    False
498    False
499    False
Name: revenues, Length: 500, dtype: bool

In [42]:
negative_profits = f500["profits"] < 0
negative_profits

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: profits, Length: 500, dtype: bool

In [43]:
combined = large_revenue & negative_profits
combined

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [44]:
big_rev_neg_profit = f500[combined]
big_rev_neg_profit

                company  rank  ...  total_stockholder_equity  rank_change
32  Japan Post Holdings    33  ...                     91532          4.0
44              Chevron    45  ...                    145556        -14.0

[2 rows x 18 columns]

### 9. Using Boolean Operations

In [45]:
combined = (f500["revenues"] > 100000) & (f500["profits"] < 0)
big_rev_neg_profit = f500[combined]
big_rev_neg_profit

                company  rank  ...  total_stockholder_equity  rank_change
32  Japan Post Holdings    33  ...                     91532          4.0
44              Chevron    45  ...                    145556        -14.0

[2 rows x 18 columns]

In [46]:
f500['country'].value_counts()

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
Australia         7
India             7
Brazil            7
Italy             7
Taiwan            6
Ireland           4
Russia            4
Singapore         3
Sweden            3
Mexico            2
Finland           1
Indonesia         1
Saudi Arabia      1
Denmark           1
Malaysia          1
Belgium           1
Israel            1
Luxembourg        1
Venezuela         1
Turkey            1
Thailand          1
Norway            1
U.A.E             1
Name: country, dtype: int64

In [47]:
brazil_venezuela = f500[((f500["country"] == "Brazil") | (f500["country"] == "Venezuela"))]
brazil_venezuela

                             company  ...  rank_change
74                         Petrobras  ...        -17.0
112            Itau Unibanco Holding  ...         46.0
150                  Banco do Brasil  ...        -36.0
153                   Banco Bradesco  ...         55.0
190                              JBS  ...         -6.0
369                             Vale  ...         47.0
441  Mercantil Servicios Financieros  ...          NaN
486                Ultrapar Holdings  ...        -13.0

[8 rows x 18 columns]

In [48]:
~(f500['country'] == "USA") & (f500['sector'] == "Technology")

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [49]:
f500[~(f500['country'] == "USA")]["sector"].value_counts()

Financials                       91
Energy                           67
Motor Vehicles & Parts           32
Technology                       30
Wholesalers                      20
Materials                        16
Food & Drug Stores               15
Telecommunications               14
Transportation                   13
Engineering & Construction       13
Health Care                      12
Industrials                      11
Aerospace & Defense               8
Food, Beverages & Tobacco         7
Retailing                         6
Chemicals                         5
Business Services                 3
Hotels, Restaurants & Leisure     2
Household Products                2
Apparel                           1
Name: sector, dtype: int64

In [50]:
tech_outside_usa = f500[~(f500['country'] == "USA") & (f500['sector'] == "Technology")].head()
tech_outside_usa

                         company  rank  ...  total_stockholder_equity  rank_change
14           Samsung Electronics    15  ...                    154376         -2.0
26    Hon Hai Precision Industry    27  ...                     33476         -2.0
70                       Hitachi    71  ...                     26632          8.0
82   Huawei Investment & Holding    83  ...                     20159         46.0
104                         Sony   105  ...                     22415          8.0

[5 rows x 18 columns]

### 10. Sorting Values

In [51]:
# select all rows where country is china
selected_rows = f500[f500["country"] == "China"]
selected_rows

                                   company  ...  rank_change
1                               State Grid  ...          0.0
2                            Sinopec Group  ...          1.0
3                 China National Petroleum  ...         -1.0
21   Industrial & Commercial Bank of China  ...         -7.0
23    China State Construction Engineering  ...          3.0
..                                     ...  ...          ...
487                             Xiamen C&D  ...          NaN
489               China General Technology  ...       -107.0
493               Xiamen ITG Holding Group  ...          NaN
494  Xinjiang Guanghui Industry Investment  ...          NaN
496               New China Life Insurance  ...        -70.0

[109 rows x 18 columns]

In [52]:
# Use DataFrame.sort_values() method to sort the rows
sorted_rows = selected_rows.sort_values("employees")
print(sorted_rows[["company", "country", "employees"]].head())

                                company country  employees
204                         Noble Group   China       1000
458             Yango Financial Holding   China      10234
438  China National Aviation Fuel Group   China      11739
128                         Tewoo Group   China      17353
182            Amer International Group   China      17852

In [53]:
# Use DataFrame.sort_values() method to sort the rows, for descending
sorted_rows = selected_rows.sort_values("employees", ascending=False)
print(sorted_rows[["company", "country", "employees"]].head())

                        company country  employees
3      China National Petroleum   China    1512048
118            China Post Group   China     941211
1                    State Grid   China     926067
2                 Sinopec Group   China     713288
37   Agricultural Bank of China   China     501368

In [54]:
japan = f500[f500["country"] == 'Japan']
sorted_japan = japan.sort_values("employees", ascending=False)
# select 1st row of the sorted frame using iloc
japan_first_row = sorted_japan.iloc[0]
japan_first_row

company                                     Toyota Motor
rank                                                   5
revenues                                          254694
revenue_change                                       7.7
profits                                          16899.3
assets                                            437575
profit_change                                      -12.3
ceo                                          Akio Toyoda
industry                        Motor Vehicles and Parts
sector                            Motor Vehicles & Parts
previous_rank                                          8
country                                            Japan
hq_location                                Toyota, Japan
website                     http://www.toyota-global.com
years_on_global_500_list                              23
employees                                         364445
total_stockholder_equity                          157210
rank_change                                            3
Name: 4, dtype: object

In [55]:
top_japanese_employer = japan_first_row["company"]
top_japanese_employer

'Toyota Motor'

### 11. Using Loops with pandas

In [57]:
# To find the average revenue in each country
# Identify each unique country in dataset
# For each country
    # select rows of that country
    # calculate average revenue of those rows
# Create empty dictionary to store the results
avg_rev_by_country = {}

# Create an array of unique countries
countries = f500["country"].unique()

# Use for loop to iterate over the countries
for c in countries:
  # Use boolean to select all the rows of each country
  selected_rows = f500[f500["country"] == c]
  # Calculate mean average 
  mean = selected_rows["revenues"].mean()
  # Assign the mean value to avg_rev_by_country
  avg_rev_by_country[c] = mean

avg_rev_by_country

{'Australia': 33688.71428571428,
 'Belgium': 45905.0,
 'Brazil': 52024.57142857143,
 'Britain': 51588.708333333336,
 'Canada': 31848.0,
 'China': 55397.880733944956,
 'Denmark': 35464.0,
 'Finland': 26113.0,
 'France': 55231.793103448275,
 'Germany': 63915.0,
 'India': 39993.0,
 'Indonesia': 36487.0,
 'Ireland': 32819.5,
 'Israel': 21903.0,
 'Italy': 51899.57142857143,
 'Japan': 53164.03921568627,
 'Luxembourg': 56791.0,
 'Malaysia': 49479.0,
 'Mexico': 54987.5,
 'Netherlands': 61708.92857142857,
 'Norway': 45873.0,
 'Russia': 65247.75,
 'Saudi Arabia': 35421.0,
 'Singapore': 54454.333333333336,
 'South Korea': 49725.6,
 'Spain': 40600.666666666664,
 'Sweden': 27963.666666666668,
 'Switzerland': 51353.57142857143,
 'Taiwan': 46364.666666666664,
 'Thailand': 48719.0,
 'Turkey': 23456.0,
 'U.A.E': 22799.0,
 'USA': 64218.371212121216,
 'Venezuela': 24403.0}

In [63]:
# Find top employer in each country
top_employer_by_country = {}

# Create an array for unique countries
countries = f500["country"].unique()

# for loop to find top employer in each country
for c in countries:
  # select all the rows for that country
  selected_rows = f500[f500["country"] == c]
  # sort the selected rows
  sorted_rows = selected_rows.sort_values('employees', ascending=False)
  # Assign the 0 index of sorted row company
  first_row = sorted_rows.iloc[0]
  # Assign the company name from first_row
  top_employer_by_country[c] = first_row["company"]

top_employer_by_country

{'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Brazil': 'JBS',
 'Britain': 'Compass Group',
 'Canada': 'George Weston',
 'China': 'China National Petroleum',
 'Denmark': 'Maersk Group',
 'Finland': 'Nokia',
 'France': 'Sodexo',
 'Germany': 'Volkswagen',
 'India': 'State Bank of India',
 'Indonesia': 'Pertamina',
 'Ireland': 'Accenture',
 'Israel': 'Teva Pharmaceutical Industries',
 'Italy': 'Poste Italiane',
 'Japan': 'Toyota Motor',
 'Luxembourg': 'ArcelorMittal',
 'Malaysia': 'Petronas',
 'Mexico': 'America Movil',
 'Netherlands': 'EXOR Group',
 'Norway': 'Statoil',
 'Russia': 'Gazprom',
 'Saudi Arabia': 'SABIC',
 'Singapore': 'Flex',
 'South Korea': 'Samsung Electronics',
 'Spain': 'Banco Santander',
 'Sweden': 'H & M Hennes & Mauritz',
 'Switzerland': 'Nestle',
 'Taiwan': 'Hon Hai Precision Industry',
 'Thailand': 'PTT',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'USA': 'Walmart',
 'Venezuela': 'Mercantil Servicios Financieros'}

### 12. Challenge: Calculating Return on Assets by Country

ROA(Return On Assets) is a metric which indicates a company's ability to make profit using their available assets.

$return on assets = {profit}/{assets}$

In [66]:
# create a new column roa on 5f00 datafram
f500["roa"] = f500["profits"]/f500["assets"]
f500

                            company  rank  ...  rank_change       roa
0                           Walmart     1  ...          0.0  0.068618
1                        State Grid     2  ...          0.0  0.019540
2                     Sinopec Group     3  ...          1.0  0.004048
3          China National Petroleum     4  ...         -1.0  0.003189
4                      Toyota Motor     5  ...          3.0  0.038620
..                              ...   ...  ...          ...       ...
495  Teva Pharmaceutical Industries   496  ...          NaN  0.003542
496        New China Life Insurance   497  ...        -70.0  0.007394
497       Wm. Morrison Supermarkets   498  ...        -61.0  0.034944
498                             TUI   499  ...        -32.0  0.070887
499                      AutoNation   500  ...          NaN  0.042793

[500 rows x 19 columns]

In [69]:
# Aggregate by sector and find the topmost company name
# Get the sector
sectors = f500["sector"].unique()

# create a data dictionary
top_roa_by_sector = {}

# For loop for each sector
for s in sectors:
  # select all rows for that sector
  selected_rows = f500[f500["sector"] == s]
  # sort rows by roa
  sorted_rows = selected_rows.sort_values("roa", ascending=False)
  # select the first row
  first_row = sorted_rows.iloc[0]
  # get the company name and assign it to dictionary
  top_roa_by_sector[s] = first_row["company"]

top_roa_by_sector

{'Aerospace & Defense': 'Lockheed Martin',
 'Apparel': 'Nike',
 'Business Services': 'Adecco Group',
 'Chemicals': 'LyondellBasell Industries',
 'Energy': 'National Grid',
 'Engineering & Construction': 'Pacific Construction Group',
 'Financials': 'Berkshire Hathaway',
 'Food & Drug Stores': 'Publix Super Markets',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Health Care': 'Gilead Sciences',
 'Hotels, Restaurants & Leisure': 'McDonald’s',
 'Household Products': 'Unilever',
 'Industrials': '3M',
 'Materials': 'CRH',
 'Media': 'Disney',
 'Motor Vehicles & Parts': 'Subaru',
 'Retailing': 'H & M Hennes & Mauritz',
 'Technology': 'Accenture',
 'Telecommunications': 'KDDI',
 'Transportation': 'Delta Air Lines',
 'Wholesalers': 'McKesson'}