<a href="https://colab.research.google.com/github/balaorcl/mlbasics/blob/main/s2c1_pandas_numpy_fundas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas and NumPy Fundamentals

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Introduction to Numpy

In [2]:
import numpy as np

In [3]:
data_ndarray = np.array([5, 10, 15, 20])
data_ndarray

array([ 5, 10, 15, 20])

## Boolean Indexing with Numpy

In [4]:
import numpy as np

In [5]:
taxi = np.genfromtxt("drive/My Drive/data/nyc_taxis.csv", delimiter=",")
taxi_shape = taxi.shape
taxi_shape

(89561, 15)

In [6]:
import csv

# impoer nyc_taxis.csv as a list of lists
f = open("drive/My Drive/data/nyc_taxis.csv", "r")
taxi_list = list(csv.reader(f))

## Introduction to Pandas

## Exploring Data with Pandas: Fundamentals

## Exploring Data with Pandas: Intermediate

In [7]:
import pandas as pd
# Create DataFrame
f500 = pd.read_csv("drive/My Drive/data/f500.csv", index_col=0)
f500.index.name = None
f500

                                rank  ...  total_stockholder_equity
Walmart                            1  ...                     77798
State Grid                         2  ...                    209456
Sinopec Group                      3  ...                    106523
China National Petroleum           4  ...                    301893
Toyota Motor                       5  ...                    157210
...                              ...  ...                       ...
Teva Pharmaceutical Industries   496  ...                     33337
New China Life Insurance         497  ...                      8507
Wm. Morrison Supermarkets        498  ...                      5111
TUI                              499  ...                      3006
AutoNation                       500  ...                      2310

[500 rows x 16 columns]

In [8]:
f500_dict = {"company" : "Name of the company",
             "rank": "Global 500 rank for the company",
             "revenues": "Company's total revenue for the fiscal year, in millions of USD",
             "revenue_change": "Percentage change in revenue between the current and prior fiscal year",
             "profits": "Net income for the fiscal year, in millions of dollars(USD)",
             "sector": "sector in which the company operates",
             "previous_rank": "Global 500 rank for the company for the prior year",
             "country": "Country in which the company is headquartered",
             "hq_location": "City and country, (or city and state for the USA) where the company is headquartered",
             "employees": "Total employees (full-time equivalent, if available) at fiscal year-end"
             }
f500_dict

{'company': 'Name of the company',
 'country': 'Country in which the company is headquartered',
 'employees': 'Total employees (full-time equivalent, if available) at fiscal year-end',
 'hq_location': 'City and country, (or city and state for the USA) where the company is headquartered',
 'previous_rank': 'Global 500 rank for the company for the prior year',
 'profits': 'Net income for the fiscal year, in millions of dollars(USD)',
 'rank': 'Global 500 rank for the company',
 'revenue_change': 'Percentage change in revenue between the current and prior fiscal year',
 'revenues': "Company's total revenue for the fiscal year, in millions of USD",
 'sector': 'sector in which the company operates'}

In [9]:
f500_selection=f500[["rank", "revenues", "revenue_change"]].head()
f500_selection

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

### 2. Reading CSV files with pandas

In [10]:
# Without index_col = 0
f500 = pd.read_csv("drive/My Drive/data/f500.csv")
f500

                            company  rank  ...  employees  total_stockholder_equity
0                           Walmart     1  ...    2300000                     77798
1                        State Grid     2  ...     926067                    209456
2                     Sinopec Group     3  ...     713288                    106523
3          China National Petroleum     4  ...    1512048                    301893
4                      Toyota Motor     5  ...     364445                    157210
..                              ...   ...  ...        ...                       ...
495  Teva Pharmaceutical Industries   496  ...      56960                     33337
496        New China Life Insurance   497  ...      54378                      8507
497       Wm. Morrison Supermarkets   498  ...      77210                      5111
498                             TUI   499  ...      66779                      3006
499                      AutoNation   500  ...      26000                      2310

[500 rows x 17 columns]

In [13]:
# selects all columns where previous rank = 0
f500.loc[f500["previous_rank"] == 0].head()

                    company  rank  ...  employees  total_stockholder_equity
48    Legal & General Group    49  ...       8939                      8579
90                   Uniper    91  ...      12890                     12889
123       Dell Technologies   124  ...     138000                     13243
138  Anbang Insurance Group   139  ...      40707                     20372
140         Albertsons Cos.   141  ...     273000                      1371

[5 rows x 17 columns]

In [15]:
# Select 2 columns where previous_rank = 0
f500.loc[f500["previous_rank"] == 0, ["previous_rank", "assets"]].head()

     previous_rank  assets
48               0  577954
90               0   51541
123              0  118206
138              0  430040
140              0   23755

In [18]:
# Select only previous_rank column where previous_rank = 0
f500.loc[f500["previous_rank"] == 0, "previous_rank"].head()

48     0
90     0
123    0
138    0
140    0
Name: previous_rank, dtype: int64

In [20]:
# Assign np.nan where previous_rank column = 0
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
f500

                            company  rank  ...  employees  total_stockholder_equity
0                           Walmart     1  ...    2300000                     77798
1                        State Grid     2  ...     926067                    209456
2                     Sinopec Group     3  ...     713288                    106523
3          China National Petroleum     4  ...    1512048                    301893
4                      Toyota Motor     5  ...     364445                    157210
..                              ...   ...  ...        ...                       ...
495  Teva Pharmaceutical Industries   496  ...      56960                     33337
496        New China Life Insurance   497  ...      54378                      8507
497       Wm. Morrison Supermarkets   498  ...      77210                      5111
498                             TUI   499  ...      66779                      3006
499                      AutoNation   500  ...      26000                      2310

[500 rows x 17 columns]

### 3. Using iloc to select by integer position

In [22]:
print(f500[["company", "rank", "revenues"]].head())

                    company  rank  revenues
0                   Walmart     1    485873
1                State Grid     2    315199
2             Sinopec Group     3    267518
3  China National Petroleum     4    262573
4              Toyota Motor     5    254694

In [34]:
# select 5th row from dataframe and assign it to fifth_row
fifth_row = f500.iloc[4]
fifth_row, type(fifth_row)

(company                                     Toyota Motor
 rank                                                   5
 revenues                                          254694
 revenue_change                                       7.7
 profits                                          16899.3
 assets                                            437575
 profit_change                                      -12.3
 ceo                                          Akio Toyoda
 industry                        Motor Vehicles and Parts
 sector                            Motor Vehicles & Parts
 previous_rank                                          8
 country                                            Japan
 hq_location                                Toyota, Japan
 website                     http://www.toyota-global.com
 years_on_global_500_list                              23
 employees                                         364445
 total_stockholder_equity                          157210
 Name: 4, dtype: object, pandas.core.series.Series)

In [27]:
# select the value in te first row of the company column
company_value = f500.iloc[0,0]
company_value

'Walmart'

### 4. Using iloc

In [35]:
# select only first column
first_column = f500.iloc[:,0]
first_column

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: company, Length: 500, dtype: object

In [36]:
# select all rows from index 1 to 4 inclusive
second_to_sixth_rows = f500[1:5]
second_to_sixth_rows

                    company  rank  ...  employees  total_stockholder_equity
1                State Grid     2  ...     926067                    209456
2             Sinopec Group     3  ...     713288                    106523
3  China National Petroleum     4  ...    1512048                    301893
4              Toyota Motor     5  ...     364445                    157210

[4 rows x 17 columns]